<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <link href="assets/favicon.ico" rel="shortcut icon">
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        {% include navbar.html %}
      </div>
    </nav>

    <article>
      {{ content }}

      <hr>

      <footer>
        <div class="container">
          <p class="pull-right"><small>2012-2013 &copy; Translate House</small></p>
          <ul class="nav">
            <li><a href="{{ site.about_url }}">About</a></li>
            <li><a href="{{ site.contact_url }}">Contact</a></li>
          </ul>
        </div>
      </footer>

    </article>
  </body>
</html>
